<div class="page-wrapper page-about">

  <section class="promo" id="section-1">
    <div class="container">
      <div class="content">
        <div class="about">
          <img src="../../assets/about/hyperloot_logo.svg" width="230">
        </div>

        <p>Turning the odds in your favor</p>

        <h1>
          Low-cost infrastructure <br> solutions for <span>competitive <br> games</span>
        </h1>

        <div class="links">
          <a href="#" class="button-link button-attention">Calling all partner</a>
        </div>

        <div class="promo-image">
          <img src="../../assets/bg-main.png" class="main-desktop" alt="promo image">
          <img src="../../assets/main-mob.png" class="main-mobile" alt="promo image">
        </div>
      </div>
    </div>
  </section>

  <section class="features" id="section-2">
    <div class="container">
      <h2>Playing <span>fair</span></h2>
      <div class="features-block">
        <div class="features-item">
          <h3>01</h3>
          <p>We're out here to turn the tides.</p>
        </div>
        <div class="features-item">
          <h3>02</h3>
          <p>To summon the wrath of hardware on lag and jitter. </p>
        </div>
        <div class="features-item">
          <h3>03</h3>
          <p>To level-up the experience of your player base during the match and outside of it. </p>
        </div>
      </div>

      <p class="true-vision">We called on the strongest banners to <span>make our vision true</span></p>

      <div class="banners-block">
        <div class="banner-item">
          <img src="../../assets/logos/dt.png" alt="dimastech">
        </div>

        <div class="banner-item">
          <img src="../../assets/logos/bitware.png" alt="bitWare">
        </div>

        <div class="banner-item">
          <img src="../../assets/logos/xilinx.png" alt="xilinx">
        </div>

        <div class="banner-item">
          <img src="../../assets/logos/huawei.png" alt="huawei">
        </div>

        <div class="banner-item">
          <img src="../../assets/logos/byteball.png" alt="byteball">
        </div>

        <div class="banner-item">
          <img src="../../assets/logos/abios.png" alt="abios">
        </div>

        <div class="banner-item">
          <img src="../../assets/logos/lootmart.png" alt="lootmart">
        </div>

        <div class="banner-item">
          <img src="../../assets/logos/Pick.gg.png" alt="pick.gg">
        </div>

        <div class="banner-item">
          <img src="../../assets/logos/opensea.png" alt="opensea">
        </div>

        <div class="banner-item">
          <img src="../../assets/logos/trustwallet.png" alt="trustwallet">
        </div>

        <div class="banner-item">
          <img src="../../assets/logos/poa.png" alt="POA">
        </div>

        <div class="banner-item">
          <img src="../../assets/logos/ultraplay.png" alt="ultra way">
        </div>
      </div>


    </div>
  </section>

  <section class="opportunities" id="section-3">
    <div class="container">
      <div class="opportunities-block">
        <div class="item">
          <h2>By the powers combined, we <span>already shipped:</span></h2>
        </div>

        <div class="item">
          <div class="img">
            <img src="../../assets/sdk.png" alt="sdk">
          </div>

          <div class="content">
            <div class="name">SDK</div>
            <div class="text">
              <p>An easy way to connect to our network and make your play sessions ones that players will want to return
                to. <span> Send us a reply, it's no trick:</span> </p>

              <form class="send" method="POST">
                <input type="text" name="email" placeholder="Email">
                <button type="submit">Send</button>
              </form>
            </div>
          </div>
        </div>

        <div class="item">
          <div class="img">
            <img src="../../assets/gaming-inventory.png">
          </div>

          <div class="content">
            <div class="name">Online gaming inventory</div>
            <div class="link">
              <a href="#">GitHub</a>
            </div>
            <div class="text">
              We peered into the void and saw - lootboxes are out. Sharing, interchanging and player-friendly satisfying
              monetization is in.
            </div>
          </div>
        </div>

        <div class="item">
          <div class="img">
            <img src="../../assets/streamer-platform.png">
          </div>

          <div class="content">
            <div class="name">Streamer promotion platfrom</div>
            <div class="link">
              <a href="#">
                Pick.gg
              </a>
            </div>
            <div class="text">Our most skilled oracles say rewarding your viewers is magic. So we made magic happen!
            </div>
          </div>
        </div>

        <div class="item">
          <div class="img">
            <img src="../../assets/gaming-portal.png">
          </div>

          <div class="content">
            <div class="name">Gaming portal</div>
            <div class="link">
              <a href="#">GitHub</a>
            </div>
            <div class="text">Not all of us are telepathic, so we made a place for everyone to keep up with esports and
              gaming news.</div>
          </div>
        </div>

        <div class="item">
          <div class="img">
            <img src="../../assets/reward-gamers.png">
          </div>

          <div class="content">
            <div class="name">Reward mechanic for gamers</div>
            <div class="link">
              <a href="#">Hypervote.net</a>
            </div>
            <div class="text">We build our products with the community. So we want to reward them for helping us.</div>
          </div>
        </div>
      </div>

    </div>

  </section>

  <section class="everything" id="section-4">
    <div class="container">

      <div class="content">
        <div class="text">
          <h2>Everything we do is powered by <span> Esportbits</span></h2>
          <p>A zero-fee payment system for everything we do in a singular currency. We wanted to create a way to donate,
            buy
            add transfer everything within our product stack with no issues or comissions.</p>
        </div>

        <ul>
          <li>Company Charter</li>
          <li>Legal opinion</li>
          <li>AML</li>
          <li>Data policy</li>
          <li>Token Terms</li>
          <li>Hyperloot team</li>
        </ul>
      </div>
    </div>
  </section>
</div>