.sidebar {
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--white-color);
  z-index: 10;
  width: 70px;
  height: 100vh;
}

.sidebar .logo {
  min-height: 6rem;
  min-width: 8rem;
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  text-decoration: none;
  opacity: 1;
}

.sidebar .red {
  width: 70px;
  height: 50px;
}

.sidebar .red img {
  width: 100%;
}

.sidebar .logo .full-logo {
  display: none;
}

.sidebar .logo img {
  margin: auto;
}

.sidebar .progres {
  padding-left: 0;
}

.sidebar nav {
  margin-top: auto;
  margin-bottom: auto;
}

.sidebar .progres li {
  list-style-type: none;
}

.sidebar .progres li a {
  width: 5px;
  height: 5px;
  border-radius: 3px;
  background-color: #55606c;
  margin-bottom: 12px;
  cursor: pointer;
  display: block;
  transition: 0.4s;
}

.sidebar .progres li .active {
  background: #f53743;
  height: 40px;
}

.sidebar .social {
  display: flex;
  flex-direction: column;
  margin-bottom: 2.4rem;
}

.sidebar .social a {
  width: 2.2rem;
  transition: 0.3s ease;
}

.sidebar .social a:not(:last-of-type) {
  margin-bottom: 2.4rem;
}

.sidebar .social a svg {
  fill: #bbbfc4;
}

.sidebar .social a:hover svg {
  fill: var(--accent-color);
}

@media (max-width: 1368px) {
  .sidebar nav a {
    margin-bottom: 2rem;
  }
  .sidebar .social a {
    margin-bottom: 1rem;
  }
}

@media (max-width: 768px) {
  .layout {
    padding-left: 0rem;
  }
  .sidebar .sidebar-header {
    display: flex;
    justify-content: space-between;
  }
  .sidebar .logo {
    min-width: 3.2rem;
    min-height: 2.4rem;
    width: auto;
    padding: 1.2rem 1.6rem;
    margin-bottom: 0;
    border-bottom: 0;
    box-shadow: none;
  }
  .sidebar.active .logo .small-logo {
    display: none;
  }
  .sidebar .red {
    width: 50px;
  }
  .sidebar {
    display: none;
  }
}

@media (max-width: 500px) {
  
  section.promo .container {
    margin: 0;
  }
}