@import '../~normalize.css';

html {
  font-size: 10px;
  font-family: 'Gilroy', 'sans-serif';
  overflow-y: scroll;
  background: #fff;
  color: #222;
  scroll-behavior: smooth;
}

b, strong, a, h1, h2 {
  font-weight: bold;
}

a {
  color: #f53743;
  text-decoration: none;
}

/* fonts */
@font-face{
  font-family: 'Gilroy';
  font-weight: bold;
  src: url('./assets/Gilroy-ExtraBold.otf');
}

@font-face {
  font-family: 'Gilroy';
  src: url('./assets/Gilroy-Light.otf');
}

/* */
@import './header.css';
@import './content.css';
@import './footer.css';
