.section {
  margin-left: auto;
  margin-right: auto;
  max-width: 94rem;
  padding: 2rem;
  box-sizing: border-box;

  /*min-height: 100vh;*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 15rem;
  padding-bottom: 15rem;
}

section p,
section h1,
section h2,
section h3 {
  margin: 0;
}

section h1 {
  font-size: 6rem;
  margin-top: 1rem;
  margin-bottom: 6rem;
}

section h2 {
  font-size: 3rem;
}

section h3 {
  font-size: 2rem;
}

section p,
section li {
  font-size: 1.5rem;
}

.intro {
  min-height: 100vh;
  transform: translateZ(1px);
}

.intro a[href="/"] img {
  display: inline-block;
  width: 4rem;
}

.intro a[href="/"] {
  color: inherit;
  text-decoration: none;
  font-size: 3rem;
  font-weight: normal;
}

.intro a:not([href="/"]) {
  padding: 1.5rem 3rem;
  border: 1px solid;
  margin-right: 2rem;
}


.intro a:not([href="/"]):hover {
  background: #f53743;
  color: #fff;
}

.solution {
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0;
}

.solution h2 {
  flex: 100%;
  margin-bottom: 4rem;
}

.solution .block {
  flex: 50%;
}

.solution li {
  height: 8rem;
  list-style: none;
}


.solution .layers-3d ul {
  padding: 0;
}

.solution .layers-3d li {
  height: 8rem;
  position: relative;
  font-size: 2rem;
  color: #f53743;
}

.solution .layers-3d li:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 8rem;
  background: #f5374311;
  z-index: -1;
  transform: rotateX(90deg) rotateY(0deg) rotateZ(0deg);
}

.details {
  transform: translateZ(.5px);
  flex-direction: row;
  justify-content: space-between;
  padding-left: 5rem;
  padding-right: 5rem;
}

.details img {
  width: 10rem;
  margin-bottom: 0rem;
  margin-left: -1.5rem;
  user-select: none;
}

.details h2 {
  margin-bottom: 1rem;
}

.details .block {
  width: 30%;
}

.benefits {
  flex-direction: row;
  margin: 0;
  background: #f53743;
  color: #fff;
  max-width: none !important;
  padding: 0;
}

.benefits .block {
  width: 45%;
  box-sizing: border-box;
  position: relative;
  min-height: 40rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.benefits .wrapper {
  display: flex;
  justify-content: space-between;
}

.benefits h2 {
  margin-bottom: 1rem;
  z-index: 2;
}

.benefits p {
  z-index: 2;
}

.benefits img {
  user-select: none;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  opacity: .2;
  height: 40rem;
}

.started {
  max-width: none !important;
  background: #f5f5f5;
}

.started .wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.started h2 {
  width: 100%;
  margin-bottom: 4rem;
}

.started img {
  width: 6rem;
  margin-bottom: 1rem;
  margin-right: 1rem;
  margin-left: -1rem;
  user-select: none;
}

.started .block {
  width: 45%;
  margin-bottom: 4rem;
}

.started h3 {
  margin-bottom: 1rem;
  display: flex;
  height: 4rem;
  align-items: center;
}

@media (max-width: 960px) {
  .intro {
    transform: none;
  }

  .intro h1 {
    font-size: 4rem;
    margin-bottom: 3rem;
  }

  .intro a:not([href="/"]) {
    display: block;
    margin-bottom: 1rem;
    text-align: center;
  }

  .section {
    max-width: 30rem;
  }

  .wrapper {
    max-width: 30rem !important;
  }

  .solution .layers-3d li,
  .solution li {
    height: 14rem;
  }

  .details {
    flex-direction: column;
    transform: none;
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .details .block {
    width: 100%;
    margin-bottom: 4rem;
  }

  .benefits .wrapper {
    flex-direction: column;
  }

  .benefits img {
    width: 25rem;
    height: 30rem;
  }

  .benefits .block {
    width: 100%;
    margin-bottom: 4rem;
    min-height: 30rem;
  }

  .started .block {
    width: 100%;
    margin-bottom: 4rem;
  }
}
