.join {
  padding-top: 15rem;
  padding-bottom: 15rem;
}

.join h2 {
  margin-bottom: 2rem;
}

.join .social {
  display: flex;
  flex-wrap: wrap;
}

.join .social a {
  background: #f53743;
  width: 4rem;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin-right: 2rem;
  margin-bottom: 2rem;
}

.footer {
  position: relative;
  z-index: 10;
  background-color: #333333;
  color: #fff;
  font-size: 1.5rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
}
