section.posts {
  padding: 12rem 0 0 0;
}

section.posts .posts-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-transform: uppercase;
  margin-bottom: 2.4rem;
  align-items: center;
}

section.posts .posts-heading .followers {
  font-size: 16px;
  margin-top: 6px;
  margin-left: 6px;
  color: #55606C;
}

section.posts .posts-heading .title {
  display: flex;
}

section.posts .posts-heading h2 {
  font-family: var(--font-family-title);
  font-size: 5rem;
  line-height: 6rem;
  color: #000;
}

section.posts .posts-heading h2 a {
  color: #000;
}

section.posts .posts-tags {
  display: flex;
  align-items: center;
}

section.posts .posts-tags .hidden-tags {
  opacity: 0;
  margin-left: 6px;
  visibility: hidden;
  display: flex;
  flex-wrap: wrap;
  display: none;
  transition: .3s;
  transform: rotateY(30deg) translateY(-30%);
}

section.posts .hidden-tags.visible-tags {
  opacity: 1;
  visibility: visible;
  display: flex;
  transform: rotateY(0deg) translateY(0%);
}

section.posts .icon-more {
  transform: rotate(0deg);
  transition: .3s;
}

section.posts .icon-more.rotate-icon {
  transform: rotate(180deg);
}

section.posts .posts-tags ul {
  display: flex;
  flex-basis: 80%;
  flex-wrap: wrap;
  padding-left: 0;
  margin: 0;
  list-style: none;
  min-height: 80px;
}

section.posts .posts-tags ul li:not(:last-of-type) {
  margin-right: 0.6rem;
}

section.posts .posts-tags.rectangular-tags {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

section.posts .more {
  color: var(--accent-color);
  font-size: 16px;
  padding-left: 18px;
  cursor: pointer;
  display: flex;
  align-items: center;
  text-transform: capitalize;
}

section.posts .more svg {
  margin: 0 5px 2px;
}

section.posts .posts-tags.rectangular-tags ul li a {
  padding: 0.6rem 1.2rem;
  font-family: var(--font-family-regular-medium);
  font-size: 1.8rem;
  color: var(--white-color);
  background-color: #bbbfc4;
  border-radius: 0.5rem;
  text-transform: capitalize;
}

section.posts .posts-tags.rectangular-tags ul li a.active {
  color: var(--white-color);
  background-color: var(--accent-color);
}

section.posts .posts-tags.rectangular-tags ul li a:hover {
  background-color: var(--accent-color);
}

section.posts .posts-tags .read-more {
  font-size: 1.8rem;
  margin-left: auto;
}

section.posts .post-list {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.6rem;
}

section.posts .post-list .last-posts {
  display: flex;
  flex-direction: column-reverse;
}

section.posts .post-list .hidden-posts {
  display: flex;
  flex-direction: column-reverse;
  opacity: 0;
  height: 0;
  visibility: hidden;
  transition: .2s;
}

section.posts .post-list .hidden-posts.visible-posts {
  opacity: 1;
  visibility: visible;
  height: auto;
}

section.posts .post-list .visible-posts-button {
  color: var(--accent-color);
  font-size: 12px;
  border: 1px solid #ccc;
  border-radius: 25px;
  width: 150px;
  text-align: center;
  padding: 10px 24px;
  margin: 36px auto 24px;
  cursor: pointer;
  font-family: var(--font-family-regular-bold);
  transition: .3s;
}

section.posts .post-list .visible-posts-button:hover {
  border-color: rgb(163, 163, 163);
}

section.posts .post-list .visible-posts-button.hidden-button {
  display: none;
}

section.posts .load-more {
  width: 100%;
  display: flex;
  justify-content: center;
}

section.posts .load-more {
  padding-bottom: 14rem;
  border-bottom: 1px dotted #e5e8ed;
}

section#posts.posts .post-preview:not(:target) {
  display: none;
}

section#posts.posts.filter-is-inactive .post-preview {
  display: flex;
}

section#posts.posts:target .post-preview {
  display: flex;
}

.post-preview {
  display: flex;
  align-items: flex-start;
  padding: 3.6rem 0;
  border-bottom: 1px solid #F1F2F6;
}

.post-preview:nth-of-type(2), .post-preview:last-of-type {
  border-bottom: none;
}

.post-preview.hidden {
  display: none;
}

.post-preview .image {
  flex-basis: 45%;
  margin-right: 3.6rem;
}

.post-preview .image img {
  width: 100%;
  height: auto;
}

.post-preview .preview {
  flex: 60%;
  display: flex;
  flex-direction: column;
}

.post-preview .preview .preview-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.6rem;
}

.post-preview .preview .preview-header .date {
  align-self: flex-start;
  font-size: 1.4rem;
  color: rgb(195, 199, 202);
  opacity: 0.6;
}

.post-preview .preview .preview-header .social-networks {
  display: flex;
}

.post-preview .preview .preview-header .social-networks a {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  padding: 0.8rem;
  border: 2px solid #e2e6eb;
}

.post-preview .preview .preview-header .social-networks a:not(:last-of-type) {
  margin-right: 0.6rem;
}

.post-preview .preview .preview-header .social-networks a:hover {
  border-color: var(--accent-color);
}

.post-preview .preview .preview-header .social-networks a:hover svg {
  fill: var(--accent-color);
}

.post-preview .preview .preview-header .social-networks a svg {
  --size: 1.6rem;
  height: var(--size);
  width: var(--size);
  fill: #c4c7cd;
}

.post-preview h3 {
  margin-bottom: 1.6rem;
  font-size: 3rem;
  color: #000;
}

.post-preview .preview-body p {
  margin-bottom: 2.4rem;
  font-family: var(--font-family-regular-medium);
  font-size: 1.8rem;
  line-height: 1.5;
  color: var(--dark-grey-color);
}

.post-preview .preview-footer.preview-footer-short {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.post-preview .preview-footer.preview-footer-short .discuss a {
  padding: 1.2rem 2.4rem;
}

.post-preview .preview-footer {
  display: flex;
}

.post-preview .preview-footer>div {
  font-size: 1.4rem;
  color: var(--dark-grey-color);
}

.post-preview .preview-footer>div:not(:last-of-type) {
  margin-right: 3.6rem;
}

.post-preview .preview-footer>div span {
  color: #000;
}

section.posts .mobile-more {
  display: none;
}

@media(max-width: 1360px) {
  section.posts .posts-tags .hidden-tags {
    margin-left: 0;
  }
}

@media (max-width: 768px) {
  section.posts .posts-tags ul li {
    margin-bottom: 2.4rem;
  }
  section.posts .posts-tags .read-more {
    align-self: flex-start;
  }
  section.posts .button-link {
    width: 30%;
  }
  section.posts .desktop-more {
    display: none;
  }
  section.posts .mobile-more {
    display: flex;
  }

}

@media (max-width: 700px) {
  section.posts {
    padding: 4rem 0 0 0;
  }
  section.posts .posts-tags.rectangular-tags ul li a {
    font-size: 1.4rem;
  }
  section.posts .posts-tags ul li:not(:last-of-type) {
    margin-right: 1.2rem;
  }
  section.posts .posts-tags .read-more {
    display: none;
  }
  .post-preview {
    flex-wrap: wrap;
  }
  .post-preview .image {
    flex-basis: 100%;
    margin-right: 0;
    margin-bottom: 2.4rem;
  }
  .post-preview h3 {
    font-size: 2.4rem;
  }
  .post-preview a:hover h3 {
    color: var(--accent-color);
  }
  .post-preview .preview-body p {
    font-size: 1.6rem;
  }
  .post-preview .preview-footer.preview-footer-short .discuss a {
    padding: 0.8rem 1.6rem;
  }
  section.posts .load-more {
    padding-bottom: 6rem;
  }
  section.posts .button-link {
    width: 75%;
  }
}

@media(max-width: 480px) {
  section.posts .desktop-more {
    display: none;
  }
  section.posts .mobile-more {
    display: flex !important;
    margin-top: 12px;
    padding-left: 0;
  }
  section.posts .container {
    width: 100%;
    max-width: 100%;
  }
  .posts-heading, .posts-tags, .post-preview .preview {
    max-width: 90%;
    margin: 0 auto;
  }
}