section.token {
  min-height: 100vh;
  display: flex;
  background-image: url(assets/token/token_section_bg.png);
  background-position: top right;
  background-repeat: no-repeat;
}

section.token .content {
  min-width: 37.5%;
  margin: 20% 20% 20% 20%;
}

section.token h1 {
  margin-top: 0rem;
  font-family: 'BebasNeueBold';
  font-size: 6rem;
  text-transform: uppercase;
  color: #000;
}

section.token h1 span {
  color: #f53743;
}

section.token p {
  margin: 3.2rem 0;
  color: #5c646e;
  line-height: 1.5;
}

section.token .info {
  display: flex;
  jutify-content: space-between;
  font-family: 'Gilroy';
  font-size: 1.4rem;
  color: #55606c;
}

section.token .info .info-item {
  width: 17.5%;
}

section.token .info .info-item span {
  display: inline-block;
  margin-bottom: 1rem;
  color: #d3d5d9;
  text-transform: uppercase;
}

section.token .info .info-item.type {
  margin-left: 5%;
}

section.tokenomics {
  padding: 10rem  0 12rem 0;
  background-color: #f5f6f8;
  background-position: left bottom;
  background-repeat: no-repeat;
  background-image: url(assets/token/tokenomic_bg.png);
}

section.tokenomics h2 {
  font-size: 3rem;
  margin-top: 0;
}

section.tokenomics h3 {
  font-size: 2.4rem;
  margin-bottom: 4rem;
}

section.tokenomics .container > p {
  margin-top: 1.8rem;
  margin-bottom: 2.4rem;
  color: #5c646e;
}

section.tokenomics img {
  width: 100%;
  height: auto;
}

.desktop-hidden {
  display: none;
}

.token-receive-options {
  display: flex;
  justify-content: space-between;
  margin-bottom: 7rem;
}

.token-receive-options .col {
  width: 47.5%;
}

.token-receive-options .item:not(:last-of-type){
  margin-bottom: 3rem;
}

.token-receive-options .item h3 {
  margin-top: 0;
  font-size: 14px;
  margin-bottom: 1.6rem;
  font-family: 'Gilroy';
  text-transform: uppercase;
  color: #55606c;
}

.token-receive-options .item p {
  line-height: 1.5;
}

section.faq {
  padding: 6rem 0rem 0rem 0;
}

.page-wrapper section.faq h2 {
  font-family: 'BebasNeueBold';
  font-size: 6rem;
  text-transform: uppercase;
  margin-top: 0rem;
  margin-bottom: 4.8rem;
}

section.faq h2 span{
  color: #f53743;
}

.spoiler .header {
  position: relative;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.spoiler .header h4  {
  margin: 0;
  font-family: 'Gilroy-Medium';
  font-size: 2rem;
  pointer-events: none;
}

.spoiler .header .status {
  height: 3.6rem;
  width: 3.6rem;
  background-color: #fff;
  border-radius: 50%;
  background-position: center;
  background-repeat: no-repeat;
}

.spoiler .header .status {
  background-image: url(assets/token/arrow.png);
  transform: rotate(180deg);
}

.spoiler.is-active .header .status {
  background-image: url(assets/token/arrow.png);
  transform: rotate(0deg);
}

.spoiler {
  box-sizing: border-box;
  padding: 3.2rem;
  margin-bottom: 0.5rem;
  border-radius: 1.6rem;
  background-color: #f0f2f5;
}

.spoiler .content {
  overflow: hidden;
  opacity: 0;
  pointer-events: none;
  max-height: 0;
  transform: translateY(-20px);
  transition: max-height 0.25s, opacity 0.25s, transform 0.5s;
}

.spoiler.is-active .content {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
  max-height: 1200px;
}

.spoiler .content p {
  line-height: 1.5;
  padding-right: 20%;
}

.spoiler .content p:first-of-type {
  margin-top: 1.2rem;
}

.spoiler .content p:not(:last-of-type){
  margin-bottom: 1.2rem;
}

section.faq .button-link {
  display: block;
  margin: 6rem auto 0 auto;
  font-family: 'Gilroy';
  padding: 1.6rem 10rem;
  border-radius: 2.3rem;
  font-size: 1.4rem;
  text-align: center;
  width: 12.5%;
}

@media (max-width: 1440px) {

  section.token {
    background-size: 47.5%;
  }

  section.token .content {
    min-width: 44.5%;
    margin: 20% 20% 20% 14.25%;
  }

  .spoiler .content p {
    padding-right: 10%;
  }

}

@media (max-width: 1368px) {

  section.token {
    background-size: 42.5%;
  }

  section.token .content {
    min-width: 50%;
    margin: 15% 20% 20% 11.5%;
  }

}

@media (max-width: 1024px) {

  section.token .content {
    min-width: 70%;
    margin: 25% 20% 20% 14.25%;
    background-size: 36.5%;
  }

  .button-link {
    width: 17.5%;
  }

}

@media (max-width: 768px) {

  section .container {
    max-width: 84.5%;
  }

  section.token .content {
    min-width: 85%;
    margin: auto auto auto auto;
    background-size: 52.5%;
  }

  section.faq {
    padding-bottom: 14rem;
  }

}

@media (max-width: 740px) {

  section.token {
    background-size: 45%;
  }

  section.token .content {
    margin-top: 45%;
    min-width: 84.375%;
    max-width: 84.375%;
  }

  section.token h1 {
    font-size: 3.6rem;
  }

  section.token p {
    padding-right: 20%;
  }

  section.token .info {
    flex-wrap: wrap;
  }

  section.token .info .info-item {
    width: 33%;
  }

  section.token .info .info-item:last-of-type {
    width: 50%;
  }

  section.token .info .info-item span {
    margin-bottom: 0.5rem;
  }

  section.token .info .info-item.type {
    margin-left: 0;
  }

  section.token .info .info-item:first-of-type {
    margin-bottom: 3rem;
  }

  section.tokenomics {
    padding: 3.6rem 0;
    background-image: url(assets/token/tokenomic_mobile_bg.png);
    background-position: left bottom;
    background-size: cover;
  }

  section.tokenomics h2 {
    font-size: 2.4rem;
  }

  .token-receive-options {
    flex-wrap: wrap;
    margin-bottom: 2rem;
  }

  .token-receive-options .col {
    width: 100%;
  }

  .mobile-hidden  {
    display: none;
  }

  .desktop-hidden {
    display: block;
  }

  section.faq {
    padding-bottom: 2.4rem;
  }

  section.faq h2 {
    margin-bottom: 4rem;
  }

  section.faq .button-link {
    margin-top: 2.4rem;
    padding: 1.6rem 0;
    box-sizing: border-box;
    width: 100%;
  }

  .spoiler {
    padding: 1.6rem;
  }

  .spoiler .header .status {
    min-width: 3.6rem;
    align-self: flex-start;
  }

}

@media (max-width: 740px) and ( orientation: landscape ) {

  section.token {
    background-size: 35%;
  }

  section.token .content {
    margin-top: 12.5%;
  }

}